<?xml version="1.0" encoding="utf-8"?>
<!--
/*
**
** Copyright 2008, The Android Open Source Project
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
**     http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
*/
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher">

    <original-package android:name="com.android.launcher2" />

    <permission
        android:name="com.android.launcher.permission.PRELOAD_WORKSPACE"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="system|signature" />
    <permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous"
        android:label="@string/permlab_install_shortcut"
        android:description="@string/permdesc_install_shortcut" />
    <permission
        android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="dangerous"
        android:label="@string/permlab_uninstall_shortcut"
        android:description="@string/permdesc_uninstall_shortcut"/>
    <permission
        android:name="com.android.launcher.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal"
        android:label="@string/permlab_read_settings"
        android:description="@string/permdesc_read_settings"/>
    <permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal"
        android:label="@string/permlab_write_settings"
        android:description="@string/permdesc_write_settings"/>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <application
        android:name="com.android.launcher2.LauncherApplication"
        android:label="@string/application_name"
        android:icon="@mipmap/ic_launcher_home"
        android:hardwareAccelerated="true"
        android:largeHeap="@bool/config_largeHeap"
        android:supportsRtl="true">
        <activity
            android:name="com.android.launcher2.Launcher"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.android.launcher2.WallpaperChooser"
            android:theme="@style/Theme.WallpaperPicker"
            android:label="@string/pick_wallpaper"
            android:icon="@mipmap/ic_launcher_wallpaper"
            android:finishOnCloseSystemDialogs="true"
            android:process=":wallpaper_chooser">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.wallpaper.preview"
                android:resource="@xml/wallpaper_picker_preview" />
        </activity>

        <!-- Intent received used to prepopulate the default workspace. -->
        <receiver
            android:name="com.android.launcher2.PreloadReceiver"
            android:permission="com.android.launcher.permission.PRELOAD_WORKSPACE">
            <intent-filter>
                <action android:name="com.android.launcher.action.PRELOAD_WORKSPACE" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to install shortcuts from other applications -->
        <receiver
            android:name="com.android.launcher2.InstallShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- Intent received used to uninstall shortcuts from other applications -->
        <receiver
            android:name="com.android.launcher2.UninstallShortcutReceiver"
            android:permission="com.android.launcher.permission.UNINSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.UNINSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <!-- New user initialization; set up initial wallpaper -->
        <receiver
            android:name="com.android.launcher2.UserInitializeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_INITIALIZE" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.android.launcher2.WidgetAllApp" android:icon="@drawable/widget_allapp"                   
             android:label="@string/widget_app_app">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                 <action android:name="com.android.launcher.action.allapp"/> 
                 <action android:name="com.android.launcher.intent.action.ALLAPP"/>
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_allapp"/>             
        </receiver>
       <receiver android:name="com.android.launcher2.WidgetFileManager" android:icon="@drawable/widget_filemanager"                   
             android:label="@string/widget_app_filemanager">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.FILEMANAGER"/>                                 
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_filemanager"/>             
        </receiver>
       <receiver android:name="com.android.launcher2.WidgetGallery" android:icon="@drawable/widget_gallery"                   
             android:label="@string/widget_app_gallery">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>   
                 <action android:name="com.android.launcher.intent.action.GALLERY"/>                  
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_gallery"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetMarket" android:icon="@drawable/widget_market"                   
             android:label="@string/widget_app_market">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>   
                 <action android:name="com.android.launcher.intent.action.MARKET"/>                             
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_market"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetMessage" android:icon="@drawable/widget_message"                   
             android:label="@string/widget_app_message">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> 
                 <action android:name="com.android.launcher.intent.action.MESSAGE"/>                            
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_message"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetNavit" android:icon="@drawable/widget_navit"                   
             android:label="@string/widget_app_navit">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/> 
                 <action android:name="com.android.launcher.intent.action.NAVIT"/>                                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_navit"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetNews" android:icon="@drawable/widget_news"                   
             android:label="@string/widget_app_news">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                 <action android:name="com.android.launcher.intent.action.NEWS"/>                   
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_news"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetSetting" android:icon="@drawable/widget_setting"                   
             android:label="@string/widget_app_setting">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.SETTING"/>                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_setting"/>             
        </receiver>
         <receiver android:name="com.android.launcher2.WidgetVideo" android:icon="@drawable/widget_video"                   
             android:label="@string/widget_app_video">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.VIDEO"/>                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_video"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetEmail" android:icon="@drawable/widget_email"                   
             android:label="@string/widget_app_email">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.EMAIL"/>                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_email"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetCalc" android:icon="@drawable/widget_calc"                   
             android:label="@string/widget_app_calc">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.CALC"/>                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_calc"/>             
        </receiver>
        <receiver android:name="com.android.launcher2.WidgetDrivingMode" android:icon="@drawable/widget_driving_mode"                   
             android:label="@string/widget_app_driving_mode">
             <intent-filter>
                 <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>  
                 <action android:name="com.android.launcher.intent.action.DRIVINGMODE"/>                
             </intent-filter>                 
             <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider_driving_mode"/>             
        </receiver>
        
        <!-- The settings provider contains Home's data, like the workspace favorites -->
        <provider
            android:name="com.android.launcher2.LauncherProvider"
            android:authorities="com.android.launcher2.settings"
            android:exported="true"
            android:writePermission="com.android.launcher.permission.WRITE_SETTINGS"
            android:readPermission="com.android.launcher.permission.READ_SETTINGS" />

        <meta-data android:name="android.nfc.disable_beam_default"
                       android:value="true" />
    </application>
</manifest>